	#regExcode{
			width: 100%;
		}
		#form input[type="text"] {
    border: 1px solid #FFFFFF;
    font-size: 16px;
    padding: 5px;
    width: 100%;
}
html {
	padding-top: 0;
	margin-top:0;
}
	body{
		background-color: #111;
		color: #eee;
		font-family: monospace;
		padding:1%;
	}

	textarea{
		
	width: 1000px;
	//height: 25%;
	//padding:2%;
	//border: 3px solid #cccccc;
	//padding: 5px;
	//font-family: Tahoma, sans-serif;
	//background-image: url(bg.gif);
	//background-position: bottom right;
	//background-repeat: no-repeat;
	font-size: 16px;
	overflow: auto;
	font-family: monospace;
	color: transparent;

	}

#regExInput{
	width: 100%;
	font-size: 16px;
	background-color: transparent;
}
h1{
	font-family:monospace;
	font-size: 60px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
}
#eight{color: grey;
	font-size: 46px;

}
#menuSwitch{
	width: 100px;
	height:100px;
	color: red;
	background-color: blue;
	position: fixed;
	top: 10px;
	right:20px;
}
 #option:hover{
	cursor: pointer;
}
#option{
	float: right;
}
#blurb{
	font-size: 15px;
	float:right;
	position: relative;
}
#output{
	background-color: orange;
	 font-size: 16px; 	
	font-family: monospace;
	padding:0;//color: red; 

	position: absolute; 
	//background-color: transparent;
	z-index: 0;
	top:20px;
	left:3px;
	color: red;
	}

#regExCode ,#regExInput{
	//background-color:white;
	color: red;
}
#highlight{
	background-color: yellow;
}
#regExCode{
	background-color:transparent;
	width: 100%;
	position: absolute;
	//float: left;
	z-index: 2;
}
#cont{
	//background-color: white;
	position: relative;
}