	#regExcode{
			width: 100%;
		}
		#form input[type="text"] {
    border: 1px solid #FFFFFF;
    font-size: 16px;
    //padding: 5px;
   // width: 50%;
}
html {
	padding-top: 0;
	margin-top:0;
}
	body{
		background-color: #111;
		color: #eee;
		font-family: monospace;
		padding:1%;
	}

	textarea{
		
	
	//height: 25%;
	//padding:2%;
	//border: 3px solid #cccccc;
	//padding: 5px;
	//font-family: Tahoma, sans-serif;
	//background-image: url(bg.gif);
	//background-position: bottom right;
	//background-repeat: no-repeat;
	font-size: 16px;
	overflow: auto;
	font-family: monospace;
	color: transparent;
	border:2px solid grey;
	//z-index: 10;

	}

#regExInput {
	width: 100%;
	font-size: 22px;
	background-color: transparent;
	font-family: monospace;
}
#modifierInput
{
	width: 100%;
	font-size: 22px;
	background-color: transparent;
	color: red;
	font-family: monospace;
	border:2px solid grey;
}
#inputCont{
	display: inline;
	border: 2px solid black;
}
h1{
	font-family:monospace;
	font-size: 60px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
}
#eight{color: grey;
	font-size: 46px;

}
#menuSwitch{
	width: 100px;
	height:100px;
	color: red;
	background-color: blue;
	position: fixed;
	top: 10px;
	right:20px;
}
 #option:hover{
	cursor: pointer;
}
#option{
	float: right;
}
#blurb{
	font-size: 15px;
	float:right;
	position: relative;
}
#output{
	background-color: transparent;
	 font-size: 16px; 	
	font-family: monospace;
	padding:0;//color: green; 

	position: absolute; 
	z-index: -10;
	top:3px;
	left:4px;
	color: transparent;
	overflow: auto;

	}

#regExCode ,#regExInput{
	//background-color:white;
	color: red;
	border:2px solid grey;
}
/*
#highlight{
	background-color: yellow;
}
*/
#regExCode{
	background-color:transparent;
	width: 100%;
	//position: absolute;
	//float: left;
	z-index: 2;

}
#cont{
	//background-color: white;
	position: relative;
}
#sidebar{
	width:300px;
	background-color: #111;
	height:100%;
	position: absolute;
	right:-20px;
	top:15px;
	//float: left;
	display:none;
	z-index: 20;
	border:grey 2px solid;
	padding:5px;
}
#content{
	width:100%;
}
#centerDiv{
	position: relative;
}
ul{
	list-style-type: none;
}
th{
	text-align: left;

}
h4{
	margin:.5em;
}
a{
	text-decoration: none;
	color: white;
}
tr:hover, h4:hover, #headingCont:hover, #help:hover, #helpButton:hover{
	color:red;
	cursor: pointer;
	text-decoration: none;
}
#help{
	position: absolute;
	right:0;
}
#contA{
	position: relative;
}

#regExHigh{
	background-color: orange;
}
