#regExcode{
	width: 100%;
}
#form input[type="text"] {
    border: 1px solid #FFFFFF;
    font-size: 16px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
html {
	padding-top: 0;
	margin-top:0;
}
body{
	background-color: #111;
	color: #eee;
	font-family: monospace;
	padding:1%;
}
textarea{
	
	font-size: 20px;
	overflow: auto;
	font-family: monospace;
	color: transparent;
	border:none;
    overflow: auto;
    outline: none;
    resize:none;
    
}
textarea:visited{
	border:none;
}
#regExInput {
	width: 100%;
	font-size: 22px;
	background-color: transparent;
	font-family: monospace;
}
#modifierInput
{
	width: 100%;
	font-size: 22px;
	background-color: transparent;
	color: red;
	font-family: monospace;
	border:1px solid grey;
}
#inputCont{
	display: inline;
	//border: 2px solid black;
}
h1{
	font-family:monospace;
	font-size: 60px;
	color: red;
	margin-top: 0px;
	margin-bottom: 0px;
}
#eight{color: grey;
	font-size: 46px;

}
#menuSwitch{
	width: 100px;
	height:100px;
	color: red;
	background-color: blue;
	position: fixed;
	top: 10px;
	right:20px;
}
 #option:hover{
	cursor: pointer;
}
#option{
	float: right;
}
#blurb{
	font-size: 15px;
	float:right;
	position: relative;
}
#output{
	background-color: transparent;
	 font-size: 20px; 	
	font-family: monospace;
	padding:0;//color: green; 

	position: absolute; 
	z-index: -10;
	top:-18px;
	left:2px;
	color: green;
	overflow: auto;


	}

#regExCode ,#regExInput{
	color: red;
	border:1px solid grey;
}
#regExCode{
	background-color:transparent;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	border:transparent;

}
#cont{
	position: relative;
	border:solid 1px grey;
	width:100%;
}
#sidebar{
	width:300px;
	background-color: #111;
	//height:100%;
	position: absolute;
	right:-20px;
	top:15px;
	//float: left;
	display:none;
	z-index: 20;
	border:grey 1px solid;
	padding:5px;

	-webkit-animation: mymove 200ms; /* Chrome, Safari, Opera */
    animation: mymove 200ms;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    moz-animation-timing-function: linear;

    -webkit-animation-direction: normal; /* Chrome, Safari, Opera */
    animation-direction: normal;
    moz-animation-timing-function: linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {right: -300px;}
    to {right: -20px;}
}
/* Standard syntax */
@keyframes mymove {
    from {right: -300px;}
    to {right: -20px;}
}

#sidebarClose{
	width:300px;
	background-color: #111;
	position: absolute;
	right:-300px;
	top:15px;
	z-index: 20;
	border:grey 2px solid;
	padding:5px;

	-webkit-animation: mymoveclose .1s; /* Chrome, Safari, Opera */
    animation: mymoveclose .1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymoveclose {
    from {right: -20px;}
    to {right: -300px;}
}
/* Standard syntax */
@keyframes mymoveclose {
    from {right: -20px;}
    to {right: -300px;}
}
#content{
	width:100%;
}
#centerDiv{
	position: relative;
}
ul{
	list-style-type: none;
}
th{
	text-align: left;

}
h4{
	margin:.5em;
}
a{
	text-decoration: none;
	color: white;
}
tr:hover, h4:hover, #headingCont:hover, #help:hover, #helpButton:hover{
	color:red;
	cursor: pointer;
	text-decoration: none;
}
#help{
	position: absolute;
	right:0;
}
#contA{
	position: relative;
}
#regExHigh{
	background-color: orange;
}
#error, #modifierError{
	color:red;
}

